/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage/*
!/public/storage/products/
!/public/storage/products/**
!/public/storage/uploads/
!/public/storage/uploads/images/
!/public/storage/uploads/images/**
!/public/storage/uploads/medias/
!/public/storage/uploads/medias/**
/public/storage/uploads/images/*.exe
/storage/*.key
/vendor
/vendor.zip
/mwanga-*.zip
/storage/*
!/storage/app/
!/storage/framework/
!/storage/logs/
/blog
.env
.htaccess
!/.htaccess
!/public/.htaccess
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
robots.txt
sitemap.xml
!public/robots.txt
yarn-error.log
/.fleet
/.idea
/.vscode
